In [1]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import json
import csv
import requests
from pprint import pprint as pprint
from IPython.display import display as display

In [12]:
# this data had a link that was easily imported in pandas withot omporting the csv file
df_power = pd.read_csv('https://query.data.world/s/fow7pwzldz7lqojt6iruxnbjghnnvj')
df_power

,Country Name,Country Code,Year,Proportion of seats held by women in national parliaments (%)
0,Albania,ALB,1997,NaN
1,Albania,ALB,1998,NaN
2,Albania,ALB,1999,0.051613
3,Albania,ALB,2000,0.051613
4,Albania,ALB,2001,0.057143
...,...,...,...,...
4940,Zimbabwe,ZWE,2015,0.314815
4941,Zimbabwe,ZWE,2016,0.314815
4942,Zimbabwe,ZWE,2017,0.325758
4943,Zimbabwe,ZWE,2018,0.314815
4944,Zimbabwe,ZWE,2019,0.318519

In [13]:
df_power_clean= df_power.dropna()
df_power_clean

,Country Name,Country Code,Year,Proportion of seats held by women in national parliaments (%)
2,Albania,ALB,1999,0.051613
3,Albania,ALB,2000,0.051613
4,Albania,ALB,2001,0.057143
5,Albania,ALB,2002,0.057143
6,Albania,ALB,2003,0.057143
...,...,...,...,...
4940,Zimbabwe,ZWE,2015,0.314815
4941,Zimbabwe,ZWE,2016,0.314815
4942,Zimbabwe,ZWE,2017,0.325758
4943,Zimbabwe,ZWE,2018,0.314815
4944,Zimbabwe,ZWE,2019,0.318519

In [15]:
# rename the colomns with shorter names
df_power_rename= df_power_clean.rename(columns= {
    "Country Name":"country",
    "Country Code":"country_code",
    "Year":"year",
    "Proportion of seats held by women in national parliaments (%)":"parliaments_seats",
})
df_power_rename

       country country_code  year  parliaments_seats
2      Albania          ALB  1999           0.051613
3      Albania          ALB  2000           0.051613
4      Albania          ALB  2001           0.057143
5      Albania          ALB  2002           0.057143
6      Albania          ALB  2003           0.057143
...        ...          ...   ...                ...
4940  Zimbabwe          ZWE  2015           0.314815
4941  Zimbabwe          ZWE  2016           0.314815
4942  Zimbabwe          ZWE  2017           0.325758
4943  Zimbabwe          ZWE  2018           0.314815
4944  Zimbabwe          ZWE  2019           0.318519

[4793 rows x 4 columns]

In [16]:
df_power_rename["parliaments_seats"]= 100*df_power_rename["parliaments_seats"]
df_power_rename

       country country_code  year  parliaments_seats
2      Albania          ALB  1999           5.161290
3      Albania          ALB  2000           5.161290
4      Albania          ALB  2001           5.714286
5      Albania          ALB  2002           5.714286
6      Albania          ALB  2003           5.714286
...        ...          ...   ...                ...
4940  Zimbabwe          ZWE  2015          31.481481
4941  Zimbabwe          ZWE  2016          31.481481
4942  Zimbabwe          ZWE  2017          32.575758
4943  Zimbabwe          ZWE  2018          31.481481
4944  Zimbabwe          ZWE  2019          31.851852

[4793 rows x 4 columns]

In [17]:
df2="Resources/firms_with_female_managers.csv"

#Read files and store in pandas
df_firms = pd.read_csv(df2)
df_firms

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.7,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.2,NaN,NaN,NaN,NaN,NaN,18.1,NaN
4,Andorra,AND,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.3,NaN,NaN,NaN,NaN,NaN,2.7,NaN
260,"Yemen, Rep.",YEM,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.5,NaN,NaN,NaN,NaN,NaN,12.9,NaN
263,Zimbabwe,ZWE,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.4,NaN,NaN,NaN,NaN,16.3,NaN,NaN,NaN,NaN

In [19]:
# fill the NaN with "0" value
df_firms_fill= df_firms.fillna(0)
df_firms_fill

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.7,0.0,0.0,0.0,0.0,0.0,0.0
2,Angola,AGO,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Albania,ALB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.2,0.0,0.0,0.0,0.0,0.0,18.1,0.0
4,Andorra,AND,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.3,0.0,0.0,0.0,0.0,0.0,2.7,0.0
260,"Yemen, Rep.",YEM,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,South Africa,ZAF,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,Zambia,ZMB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,22.5,0.0,0.0,0.0,0.0,0.0,12.9,0.0
263,Zimbabwe,ZWE,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,17.4,0.0,0.0,0.0,0.0,16.3,0.0,0.0,0.0,0.0

In [24]:
df3="Resources/labor_force.csv"

#Read files and store in pandas
df_labor = pd.read_csv(df3)
df_labor

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.339000,15.850000,16.764999,17.735001,18.760000,19.840000,20.973000,21.416000,21.594999,21.771000
2,Angola,AGO,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.850998,75.910004,75.971001,76.018997,76.065002,76.108002,76.129997,76.141998,76.136002,76.115997
3,Albania,ALB,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.514999,47.370998,43.311001,43.297001,46.102001,46.451000,46.794998,46.799000,46.712002,46.603001
4,Andorra,AND,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.841000,7.791000,6.875000,6.074000,6.034000,5.995000,5.982000,5.980000,5.834000,5.687000
261,South Africa,ZAF,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,45.477001,45.828999,46.918999,47.251999,48.570999,48.654999,49.595001,49.520000,49.610001,49.660999
262,Zambia,ZMB,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,70.622002,70.119003,70.164001,70.206001,70.251999,70.294998,70.334000,70.370003,70.370003,70.386002
263,Zimbabwe,ZWE,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,77.436996,77.518997,77.651001,77.754997,77.838997,77.925003,77.978996,78.014000,78.106003,78.177002

In [20]:
# fill the NaN with "0" value
df_labor_fill= df_labor.fillna(0)
df_labor_fill

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,Last Updated Date,10/15/20,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
3,Aruba,ABW,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Afghanistan,AFG,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,15.339000,15.850000,16.764999,17.735001,18.760000,19.840000,20.973000,21.416000,21.594999,21.771000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
263,"Yemen, Rep.",YEM,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,8.841000,7.791000,6.875000,6.074000,6.034000,5.995000,5.982000,5.980000,5.834000,5.687000
264,South Africa,ZAF,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,45.477001,45.828999,46.918999,47.251999,48.570999,48.654999,49.595001,49.520000,49.610001,49.660999
265,Zambia,ZMB,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,70.622002,70.119003,70.164001,70.206001,70.251999,70.294998,70.334000,70.370003,70.370003,70.386002
266,Zimbabwe,ZWE,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,77.436996,77.518997,77.651001,77.754997,77.838997,77.925003,77.978996,78.014000,78.106003,78.177002

In [21]:
df4="Resources/ownership.csv"

#Read files and store in pandas
df_ownership = pd.read_csv(df4)
df_ownership

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.1,NaN,NaN,NaN,NaN,NaN,20.7,NaN
4,Andorra,AND,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.2,NaN,NaN,NaN,NaN,NaN,7.3,NaN
260,"Yemen, Rep.",YEM,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.7,NaN,NaN,NaN,NaN,NaN,41.5,NaN
263,Zimbabwe,ZWE,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,56.2,NaN,NaN,NaN,NaN,42.5,NaN,NaN,NaN,NaN

In [22]:
# fill the NaN with "0" value
df_ownership_fill= df_ownership.fillna(0)
df_ownership_fill

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0
2,Angola,AGO,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Albania,ALB,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.1,0.0,0.0,0.0,0.0,0.0,20.7,0.0
4,Andorra,AND,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.2,0.0,0.0,0.0,0.0,0.0,7.3,0.0
260,"Yemen, Rep.",YEM,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,South Africa,ZAF,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,Zambia,ZMB,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,43.7,0.0,0.0,0.0,0.0,0.0,41.5,0.0
263,Zimbabwe,ZWE,Firms with female participation in ownership (...,IC.FRM.FEMO.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,56.2,0.0,0.0,0.0,0.0,42.5,0.0,0.0,0.0,0.0